html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;   /* full screen height */
    width: 100%;
}

button {
    font-size: 18px;   /* slightly bigger text */
    padding: 10px 16px; /* slightly bigger button */
}

